html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

#basic-navbar-nav {
  justify-content: flex-end;
}

#basic-navbar-nav > div {
  align-items: center;
}
